<!--Instruction in card-icon-generation-->
<div class="cardImageIcon">

  <%let cloudLink = "https://res.cloudinary.com/djdztuwwe/image/upload/c_fill,h_220,w_250,ar_25:22,c_auto,w_250/r_14/"%>

  <%if (folder!=null && text!=null) { %>
  <a href="<%=folder%>/<%=text%>">
    <% } %>

    <img src="<%=cloudLink%><%=image%>" /></a>
  <div class="cardTextDiv">
    <span class="iconText">
      <%=text%>
    </span>
  </div>

</div>