<!--Instruction in card-icon-generation-->
<%let cloudLink = "https://res.cloudinary.com/dxttfq7qd/image/upload/c_fill,h_220,w_250,ar_25:22,c_auto,w_250/r_14/"%>

<div class="cardImageIcon">
<<<<<<< HEAD
  <a href="/editProfile/upload?type=portfolioItem&username=<%= username %>&index=<%= index %>">
    <img class = "portfolioImageIcon btn" src="<%=cloudLink%><%=image%>">
  </a>
=======

  <%let cloudLink = "https://res.cloudinary.com/dxttfq7qd/image/upload/c_fill,h_220,w_250,ar_25:22,c_auto,w_250/r_14/"%>
  <% let imageLink= cloudLink+image%>
  <%console.log(imageLink)%>
  <img class = "portfolioImageIcon" src="<%=imageLink%>" /></a>

>>>>>>> dev
</div>