  <table class="profileCardTable">
    <td>

      <div class="profileCardDataGrid">
        <div class="profileIconContainer">
          <a class="profileIcon" href="/profile?id=<%= userCard.username %>"><%- include("profileIcon", {userIcon: userCard.userIcon}) %></a>
        </div>
        <div class="cardUsername" style="font-weight: bold;"><%= userCard.username %></div>
        <div class="tightStars">
          <% if (typeof rateCount !== "undefined") { %>
          <%- include("cardStars", { rateValue: 5, rateCount:2, percent: (Math.round((5/(2*5)) * 1000) / 10)})%>
          <% } %>

        </div>
        <div class="userCardSkills truncate">
          <% let skills = userCard.userSkills.slice(0, 2).map((skill) => skill.name) %>
          <%- skills.join(", ") %>
          <%if (userCard.userSkills.length > 2) {%>. . .<%}%>
        </div>
 
        <div class="userCardLocation truncate text-body-secondary"><% if(typeof userCard.userLocation.placeName !== undefined){ %>
          <%= userCard.userLocation.placeName %>
          <% if(user.username != userCard.username) { %>
        </div>
        <div name="userDistance" data-position-long="<%= userCard.userLocation.geo.longitude %>" data-position-lat="<%= userCard.userLocation.geo.latitude %>">
          <% } %>
          <% } %>
        </div>

      </div>

    </td>
  </table>


  <script>

  </script>