<div class="d-flex justify-content-center">
  <table class="profileCardTable">
    <tr>
      <td>
        <a class="profileIcon" href="/profile?id=<%= userCard.username %>"><%- include("profileIcon", {userIcon: userCard.userIcon}) %></a>
      </td>
      <td>
        <div style="font-weight: bold;"><%= userCard.username %></div>
        <div>4.9★★★★★ 3 reviews</div><!-- unsure where this is going to be stored and how -->
        <div class="userCardSKills truncate">
          <% let skills = userCard.userSkills.slice(0, 2).map((skill) => skill.name) %>
          <%- skills.join(", ") %>
          <%if (userCard.userSkills.length > 2) {%>. . .<%}%>
        </div>
        <div class="truncate text-body-secondary"><% if(typeof userCard.userLocation.placeName !== undefined){ %>
          <%= userCard.userLocation.placeName %>
          <% if(user.username != userCard.username) { %>
        </div>
        <div name="userDistance" data-position-long="<%= userCard.userLocation.geo.longitude %>" data-position-lat="<%= userCard.userLocation.geo.latitude %>">
          <% } %>
          <% } %>
        </div>
      </td>
    </tr>
  </table>
</div>

<script>

</script>