<%let cloudLink = null%>


<%let searchBannerText = "BARTER, helping you exchange goods and services in our post-neo-capitalistic world."%>
<%let bannerClass= null%>
<% if (searchHeroBanner != null){ %>
<%searchBannerText = searchHeroBanner%>
<%cloudLink = "https://res.cloudinary.com/dxttfq7qd/image/upload/c_crop,g_auto,h_350,w_1200/"%>
<%bannerClass= "heroBannerTitle"%>
<%}%>

<section style="background-image:url(<%=cloudLink%><%=searchHeroImage%>); background-size: cover;" class="d-flex justify-content-center text-center bg-secondary">

<div class="py-5 centerGrid">
  <p class="<%=bannerClass%> p-2 lead text-white"><%=searchBannerText%></p>
  <form class="d-grid gap-2 ms-4 me-4" onSubmit="" method="post">
    <%- include("searchbar") %>
    <!-- <button class="btn btn-dark" type="submit">Search</button> -->
    <%- include("button", {buttonText: "Search", buttonType: "submit"}) %>
  </form>
</div>
</section>