<!--Instruction in card-icon-generation-->

<%let skillCloudLink = "https://res.cloudinary.com/djdztuwwe/image/upload/c_fill,h_140,w_640,ar_32:7,c_auto/r_10/"%>

<div class="pillContainer" id="pill<%=count%>">
  <a class="pillbox" href="/portfolio?skill=<%= text %>&id=<%= username %>">
    <img src="<%=skillCloudLink%><%=image%>" />
    <div class="pillTextDiv">
      <span class="pillText"><%=text%></span>
    </div>
  </a>
</div>