<%- include("templates/header", {index: false}) %>

<div id="heroDiv">
  <%- include("templates/components/backButton", {link:"/"})%>
  <%- include("templates/components/searchHero", {searchHeroImage:catImage, searchHeroBanner: catName}) %>
</div>
</div>

<%- include('templates/card-icon-generation', { db:db, count:null})%>



<%- include("templates/footer") %>