<%- include("templates/header", {index: false}) %>

<%- include("templates/components/searchHero", {searchHeroImage: banner, searchHeroBanner: title}) %>

<div class="px-4 my-2 text-center">
  <div class="col-lg-6 mx-auto">
    <%if (username == currentUser) {%>
      <a class="btn btn-secondary" href="/editPortfolio">
      <i class="bi bi-pencil-square"></i>
      Edit Page
      </a>
    <%}%>
    <p class="lead mb-4"><%= description %></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    </div>
  </div>
</div>

<!-- <div id="iconGridContainer"> -->
  <!-- <div class="iconGrid w-100 d-inline-flex flex-wrap justify-content-center m-0 p-8"> -->
  <%# data.images.forEach(element => { %>
    <!-- <div class="col-5 col-md-3"><%#- include('templates/components/card-image-icon', {image:element, text:null, folder:null, inputUser: "dxttfq7qd"}) %> </div> -->
  <%# }); %>
<!-- </div> -->

<%- include("templates/portfolio-icon-generation", {db:images, count:null, username: username })%>
<%- include("templates/footer") %>