<%- include("templates/header") %>

<!-- po:
/profile/username(UPD: IMPLEMENTED AS /profile?id=username SHOULD BE SUFFICIENT FOR MVP) should be how any user's profile is accessed. I THINK
todo if this is the profile of said user, they should have the ability to edit whatever.
-->
<a href="/editProfile?name=<%- user.username %>" class="text-center btn fs-1 text-primary"><i class="bi bi-pencil-square"></i></a>
<% if (typeof uploaded !== 'undefined') { %>
<h1 class="text-success text-center">Upload Success</h1>
<% } %>
<div class="mx-1"> <%- include("templates/components/profileCard", {userCard: userCard, userIcon: userIcon }) %> </div>
<section class="p-4 text-center mb-4">
  <h2><b>Skills</b></h2>
  <% for (let i = 0; i < userCard.userSkills.length; i ++) {  %>
  <a href="/" style="color:black;" class="fs-4 my-4"><u><%=userCard.userSkills[i]%></u></a><br />
  <% } %>
  <hr class="my-4">
  <h2><b>Reviews</b></h2>
  <h2><b>Portfolio</b></h2>
  <% if (typeof portfolio !== 'undefined') {%>
    <% portfolio.forEach(skill => { %>
      <%- include("templates/components/portfolioCard", {title: skill.title, image: skill.images[0], description: skill.description, formatProfileIconPath: formatProfileIconPath, link: "/portfolio?id="+skill.title }) %>
    <% }); %>
  <% } %>
</section>

<%- include("templates/footer", {footerButton: include("templates/components/footerButton", {buttonText: "CONTACT", email: userCard.email}) }) %>