<%- include("templates/header", {index: true}) %>
<%- include("templates/components/searchHero", {searchHeroImage:null, searchHeroBanner: null}) %>

</div>

<div id="centering">
  <div id="carousel">
    <div class="pillGrid">

      <%- include('templates/components/skillPillbox.ejs', {image:"mflhjidk1f5b9gidh4a0", text:"test"}) %>
      <%- include('templates/components/skillPillbox.ejs', {image:"mflhjidk1f5b9gidh4a0", text:"test"}) %>
      <%- include('templates/components/skillPillbox.ejs', {image:"mflhjidk1f5b9gidh4a0", text:"test"}) %>
      <%- include('templates/components/skillPillbox.ejs', {image:"mflhjidk1f5b9gidh4a0", text:"test"}) %>
      <%- include('templates/components/skillPillbox.ejs', {image:"mflhjidk1f5b9gidh4a0", text:"test"}) %>
      <%- include('templates/components/skillPillbox.ejs', {image:"mflhjidk1f5b9gidh4a0", text:"test"}) %>
      <%- include('templates/components/skillPillbox.ejs', {image:"mflhjidk1f5b9gidh4a0", text:"test"}) %>

    </div>
  </div>
</div>

<%- include("templates/footer") %>